
#menu_header {
  background-color: rgb(175, 224, 217);
  color: white;
  transition: all 0.5s ease-in-out;
}

#menu_header > td {
  border-left: 2px inset black;
  border-top: 2px inset black;
  border-right: 2px inset black;
}

#menu_dropdown{
  background-color: rgb(210, 229, 250);
  opacity:0;
  transform:translateY(-500px);
  transition: all 0.5s ease-in-out;
}

#menu_header button {
  border:none;
  background-color: Transparent; 
  transition: all 0.2s ease-in-out;
}

button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#menu_header button:hover{
  border: 2px inset black;
  color: blue;
  cursor: pointer;
}

#menu_header button:focus {
  outline: none;
  box-shadow: none;
  color: purple;
}

svg {
  transition: all 0.5s ease-in-out;
}

img {
  transition: all 0.5s ease-in-out;
}

img:hover{
  cursor: pointer;
}

#menuxsvg:hover {
  transform: rotate(-180deg);
}

#menuxsvg:active {
  transform: rotate(1000deg);
}

#menusvg:hover {
  transform: rotate(180deg);
}

#menusvg:focus {
  transform: rotate(2000deg);
}